files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDTDCCAjQCCQDa5XWJKCULOzANBgkqhkiG9w0BAQsFADBoMQswCQYDVQQGEwJV
      UzERMA8GA1UECBMITWlzc291cmkxFDASBgNVBAcTC1NhaW50IExvdWlzMRAwDgYD
      VQQKEwdJbnZlbnRyMR4wHAYJKoZIhvcNAQkBFg9lcmlrQGludmVudHIuY28wHhcN
      MTgwNTE2MTMzODUzWhcNMTkwNTE2MTMzODUzWjBoMQswCQYDVQQGEwJVUzERMA8G
      A1UECBMITWlzc291cmkxFDASBgNVBAcTC1NhaW50IExvdWlzMRAwDgYDVQQKEwdJ
      bnZlbnRyMR4wHAYJKoZIhvcNAQkBFg9lcmlrQGludmVudHIuY28wggEiMA0GCSqG
      SIb3DQEBAQUAA4IBDwAwggEKAoIBAQC2Ss8HDSVDfut+m4qtJ4OlEnIZNNkerc8F
      mhsbkf61hj8QRI6/NviCqPmuXJxCWiTsvtNJ6ngdQDmCmKoTF4qmmUig35cH75qO
      10NoefXbRQa3/DD4npq89M/rjbQ44KabN1wbdN8LTq4L9tcrdKDaaCUQkDvDprNR
      jmSKLJEF51DG5qf/H/gjyhHisVZBtYc8owwlWLXY/7dLH35iq4Z6QNoxnNYixlOz
      nUuj66KD1VwWyfOEpZssayLnL6DGqv97y1WBL4eOzuzCwKZES553fiNxyWU4OKP+
      oEax8DSSPVRKJbAWXecnYtBhbHUQkyg9NcvW1J4aQxg3PuNc85eFAgMBAAEwDQYJ
      KoZIhvcNAQELBQADggEBALYpeV9O5QPoIv76pYpOfRT2gLBoRSQaika9xloODUAi
      p35icic3l/KKMQuZvz30iIXqUEcxWvy1YYevl9Ux8XFsUW7Ua6vfCMUxvZzCBpHf
      hWJHZIpADA0cWhMBlPmWEZ0sjeUfgQJZCMBX52WAOxQulGnKLWZ9Ajmo85E+kfu6
      JjD4XNAPmuqBNhjmb18spEn/2HwF8UAgkz+4+KTg/jNmS+0hvr1EzS7XqFEb2TQj
      oj+7WnBKoAgvmukVFpWY/ilCD9vM7Fi0QSJaO0Rz767wr4+mmJmQZKB9JY1jtBUv
      zAMFBZfCEFMX43fsMl/Mh+fl5/ZjP/x4ovCwIqcqAEI=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAtkrPBw0lQ37rfpuKrSeDpRJyGTTZHq3PBZobG5H+tYY/EESO
      vzb4gqj5rlycQlok7L7TSep4HUA5gpiqExeKpplIoN+XB++ajtdDaHn120UGt/ww
      +J6avPTP6420OOCmmzdcG3TfC06uC/bXK3Sg2mglEJA7w6azUY5kiiyRBedQxuan
      /x/4I8oR4rFWQbWHPKMMJVi12P+3Sx9+YquGekDaMZzWIsZTs51Lo+uig9VcFsnz
      hKWbLGsi5y+gxqr/e8tVgS+Hjs7swsCmREued34jccllODij/qBGsfA0kj1USiWw
      Fl3nJ2LQYWx1EJMoPTXL1tSeGkMYNz7jXPOXhQIDAQABAoIBACA4mN9mM2/6vyVh
      2OFCWsKSwBg0fywtDKqw0pnM9HihggQeGh0yWjq+I2PuerA/vscZ877c8t44u/GZ
      inZVcux/q5bD7q44a9lTs1aEODDJwqZCrWVEo5VCsH2yTmi/TLOi1WUFA2e8QIdc
      2iuUMdppDiQfWnD6xjdkM+E4f2nLbNaeowIqki4K610OJGtK/nabSZltYb/txo3S
      /pVtCk+ZF0S+jUUE+aX587jtnVEhg10oXTuRpOhprzd4gtnz7pexEqyesYgz4K+8
      k1Q63S5cmZ63GhbyCLlCscJcryAcm2FSCdQZu9xIqSdQ4zjRzo2TjRG7VL9+SyPp
      84SaiAECgYEA3dGtkRgNWrfVn20wYPDN9lSUA6W8xHvtEVgcJLFATry5I0sPhk6Z
      tDDdJoXQb3VReOCFsnzKBuetNZAoB1UTpMSvHn8uTa7YXnxnVSyCc6/Df/u22hLU
      9yWlNJhhMafCrRjwmGuqeqOQe/a3egyw2bUVrtXwXq2f0iZ4LKCfBzkCgYEA0mHg
      IBQIQ8XUxQXplrLcviF6hTZC8cbOnY9xZYdwLH/uGqlAib0kKpVpTQJ/ILKbepQQ
      C+e0rHGt2M5falyUVjceG3qMlPLv/qMM35KFmZqbWJp583+kCT0l9x17h+/glkQB
      OMTJs3Qp5nNTKA9w/qI+o/VkGsPoV7JBPuZzZq0CgYB02soB/tbCLMhYFXCAETuf
      gkz7Yut/4v0vvugMmGgVUqyBoEBMc8nbOEa4zZPRs884y6cDMWRIoPIJnqjHvBT+
      HzNV8JAXEn4fwI+7Ohh7E2P9X0Cjv3n7vRQ8Ee5Z91PCVrogwc9sjhBGjeF4ZYkh
      F5mVolTfu73POr7iW7eLWQKBgCYgcMK/fqPxpVazdJrH/XNDk/WyWL2CXw104oMY
      4X5fDOKuC7EqovRIsZWwPyPI2p6DWMkfi8G4tF3XQLmA360kPgOS2QlhYZcPK5UU
      87tbpo2PKUy0tCCsgUXghPOkyFnTJzmHiFpKUhGektJuwfaTprCGF0c2e9PwzRw+
      HWndAoGASyKqR9+Dusqvl3olPDP2BkDpmWelC38Rug4gz6o3DvRMruCYhRMEwBam
      ACrJ0oW9AClTxuySu7gOnEN6mgJ+ei1jQtheC0+bc75j7Fw8RtNcTb3lbA4bnPtj
      PibLSUyG1scEPqbBE1g8dP3CF51oX/t8PdKCLG3dyf8PhcYZdTM=
      -----END RSA PRIVATE KEY-----
