files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDTDCCAjQCCQDa5XWJKCULOzANBgkqhkiG9w0BAQsFADBoMQswCQYDVQQGEwJV
      UzERMA8GA1UECBMITWlzc291cmkxFDASBgNVBAcTC1NhaW50IExvdWlzMRAwDgYD
      VQQKEwdJbnZlbnRyMR4wHAYJKoZIhvcNAQkBFg9lcmlrQGludmVudHIuY28wHhcN
      MTgwNTE2MTMzODUzWhcNMTkwNTE2MTMzODUzWjBoMQswCQYDVQQGEwJVUzERMA8G
      A1UECBMITWlzc291cmkxFDASBgNVBAcTC1NhaW50IExvdWlzMRAwDgYDVQQKEwdJ
      bnZlbnRyMR4wHAYJKoZIhvcNAQkBFg9lcmlrQGludmVudHIuY28wggEiMA0GCSqG
      SIb3DQEBAQUAA4IBDwAwggEKAoIBAQC2Ss8HDSVDfut+m4qtJ4OlEnIZNNkerc8F
      mhsbkf61hj8QRI6/NviCqPmuXJxCWiTsvtNJ6ngdQDmCmKoTF4qmmUig35cH75qO
      10NoefXbRQa3/DD4npq89M/rjbQ44KabN1wbdN8LTq4L9tcrdKDaaCUQkDvDprNR
      jmSKLJEF51DG5qf/H/gjyhHisVZBtYc8owwlWLXY/7dLH35iq4Z6QNoxnNYixlOz
      nUuj66KD1VwWyfOEpZssayLnL6DGqv97y1WBL4eOzuzCwKZES553fiNxyWU4OKP+
      oEax8DSSPVRKJbAWXecnYtBhbHUQkyg9NcvW1J4aQxg3PuNc85eFAgMBAAEwDQYJ
      KoZIhvcNAQELBQADggEBALYpeV9O5QPoIv76pYpOfRT2gLBoRSQaika9xloODUAi
      p35icic3l/KKMQuZvz30iIXqUEcxWvy1YYevl9Ux8XFsUW7Ua6vfCMUxvZzCBpHf
      hWJHZIpADA0cWhMBlPmWEZ0sjeUfgQJZCMBX52WAOxQulGnKLWZ9Ajmo85E+kfu6
      JjD4XNAPmuqBNhjmb18spEn/2HwF8UAgkz+4+KTg/jNmS+0hvr1EzS7XqFEb2TQj
      oj+7WnBKoAgvmukVFpWY/ilCD9vM7Fi0QSJaO0Rz767wr4+mmJmQZKB9JY1jtBUv
      zAMFBZfCEFMX43fsMl/Mh+fl5/ZjP/x4ovCwIqcqAEI=
      -----END CERTIFICATE-----
