option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY: AKIAIPSZJKMMVR2UORUQ
    AWS_SECRET_KEY: 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
    AWS_REGION: us-east-1
    FLASK_SECRET_KEY: soYFH2ASOOuZ7BcF3s
    X_API_KEY: 5aPMJfeo4AaH4mEr6z
    USER_TABLE: osseus-users
    MAIL_USERNAME: inventr.alerts@gmail.com
    MAIL_PASSWORD: z4z6vxHLIzAax^p%pU
